h2 User Edit
form(data-ng-submit="submit()")
  .form-group
    label.control-label(for="first-name") First Name
    input.form-control#first-name(data-ng-model="user.firstName" type="text" maxlength="20" autocomplete="off")
  .form-group
    label.control-label(for="last-name") Last Name
    input.form-control#last-name(data-ng-model="user.lastName" type="text" maxlength="20" autocomplete="off")
  .form-group
    label.control-label(for="phone") Phone
    input.form-control#phone(data-ng-model="user.phone" type="text" maxlength="20" autocomplete="off")
  .form-group
    label.control-label(for="country") Country
    input.form-control#country(data-ng-model="user.country" type="text" maxlength="20" autocomplete="off")
  .form-group
    label.control-label(for="city") City
    input.form-control#city(data-ng-model="user.city" type="text" maxlength="20" autocomplete="off")
  button.btn.btn-primary(type="submit") Save
  button.btn.btn-danger(type="button" data-ng-click="delete()") Delete
