h1 Edit Album
.row
  .col-md-6
    form(name="form" autocomplete="off" ng-submit="submitDisabled = true; saveAlbum()")
      .form-group(ng-class="has-error: ")
        label(for="artist") Artist {{}}
        input#artist.form-control(type="text" name="artist" ng-model="album.artist" required)
        span.text-danger(ng-show="form.artist.$error.required") Artist is required
      .form-group
        label(for="title") Title
        input#title.form-control(type="text" ng-model="album.title" required)
      .form-group
        label(for="cover") Cover
        input#cover.form-control(type="url" ng-model="album.cover" required)
      .form-group
        label(for="release") Release Date
        input#release.form-control(type="date" ng-model="album.release" required)
      .form-group
        label(for="rating") Rating
        p {{album.rating}}
        input#rating.form-control(type="range" ng-model="album.rating" min="1" max="10" step="0.1" required)
      .form-group
        label(for="format-select") Format Select
        select#format-select.form-control(ng-model="album.format" ng-options="format.id as format.label for format in formats" required)
      .form-group
        label Format Select
        .form-control
          label.radio-inline(ng-repeat="format in formats")
            input(type="radio" ng-model="album.format" ng-value="format.id")
            span {{format.label}}
      p
        button.btn(type="submit" ng-disabled="submitDisabled || form.$invalid") Save
        a.btn(ui-sref="albums") Cancel
  .col-md-6
    img.img-rounded.img-responsive(ng-src="{{album.cover}}")
